[submodule "dita-ot-4.1.2/plugins/com.jdwinfodesign.doctypes"]
	path = dita-ot-4.1.2/plugins/com.jdwinfodesign.doctypes
	url = https://github.com/jdwinfodesign/com.jdwinfodesign.doctypes.git
[submodule "dita-ot-4.1.2/plugins/com.jdw.preprocess"]
	path = dita-ot-4.1.2/plugins/com.jdw.preprocess
	url = https://github.com/jdwinfodesign/com.jdw.preprocess.git
[submodule "dita-ot-4.1.2/plugins/com.jdwinfodesign.html5"]
	path = dita-ot-4.1.2/plugins/com.jdwinfodesign.html5
	url = https://github.com/jdwinfodesign/com.jdwinfodesign.html5.git
